# Rust / Cargo
/target
src-tauri/target
src-tauri/target2
src-tauri/target-fresh

# Node
node_modules

# Tauri build output
src-tauri/gen/schemas

# OS / editor
Thumbs.db
.DS_Store
*.swp
.idea/
.vscode/

# Environment / secrets
*.env
